@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300;1,600&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300;1,600&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

*{  
    margin: 0;   
}
.main{
    padding: 20px 10px;
    background-color: #e8e9eb;
    margin: 0 ;
    padding-bottom: 100px;
}
h2.name{
  padding-top: 20px;
  padding-bottom: 17px;
}
.nav{
    font-size: 1.103rem;
    padding: 10px;
    padding-bottom: 4%;
    line-height: 1.6;
    background-color: white;
}
.col{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding: 2px 5px;
    box-shadow: 10px white;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: safe;
}
.box{
    padding: 10px;
    background-color: white;
    border: 0.76px solid #ddd;
    box-shadow: 100px black;
    margin: 2.5px;
    border-radius: 5px;
}
.name{
    text-align: center;
    padding: 10px;
    font-family: 'Coming Soon', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.nameset{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.addsym{
  text-align: center;
  padding: 5px 0;
  padding-top: 10px;
  word-spacing: 0.8cm;
}
.addsym button{
  border: none;
  padding: 10px 10px;
  background-color: inherit;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 5%;
}
.addsym button:hover{
  background-color: white;
}
.na{
    font-size: 1.04rem;
    font-weight: 550;
    font-family: sans-serif;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;  
    border: 1px black solid;
    outline: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    text-align: center;
    justify-content: center;
    margin: 0;
    transition: 0.3s;
  }
  
   .dropdown:hover .dropbtn {
    color: white;
    background-color: black;
    border-radius: 10px;
  }
  i{
    transition: 0.3s;
  }

  .dropdown:hover .dropbtn i{
    color: white;
    background-color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    padding: 10px;
    line-height: 2.6;

  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  label{
    padding-right: 40px;
  }

  select{
    padding: 5px;
    text-align: left;
    border-radius: 3px;
  }

  .dropdown2 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown2 .dropbtn2 {
    font-size: 9px;  
    border: none;
    border-radius: 6px;
    outline: none;
    color: black;
    padding: 5px 5px;
    font-family: inherit;
    margin: 5px 0;
    transition: 0.3s;
  }
  
   .dropdown2:hover .dropbtn2 {
    background-color: #ddd;
  }
  
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content2 p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content2 p:hover {
    background-color: #ddd;
  }
  
  .dropdown2:hover .dropdown-content2 {
    display: block;
  }

  .userman{
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 13px;
  }

  .dropdown3 {
    float: inherit;
    overflow: hidden;
  }
  
  .dropdown3 .dropbtn3 {
    font-size: 9px;  
    border: none;
    border-radius: 6px;
    outline: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    justify-content: center;
    background-color: inherit;
    font-family: inherit;
    margin: 5px 0;
  }
  
  .navbar a:hover, .dropdown3:hover .dropbtn3 {
    background-color: #ddd;
  }
  
  .dropdown-content3 {
    display: none;
    position: absolute;
    
    background-color: #f9f9f9;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content3 p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content3 p:hover {
    background-color: #ddd;
  }
  
  .dropdown3:hover .dropdown-content3 {
    display: block;
  }